* {
    margin: 0;
    padding: 0;
}

.header__img {
    height: 80px;
}

.header__nav {
    text-transform: uppercase;
}

.header__nav ul {

    padding: 20px;
    list-style-type: none;
    display: flex;
    background-color: rgb(176, 195, 50);
    align-items: center;
    justify-content: space-evenly
}

.header__nav a {
    color: white;
    text-decoration: none;
}

main{
    padding: 39px;
    display: flex;
    flex-wrap: wrap
    
}

.footer{
    background-color: rgb(98, 96, 96);
}
.footer h2 {
    font-size: 20px;
    text-align: center;
    color: white;
}

.footer ol {
    padding: 20px;
    list-style-type: none;
    text-align: center;
}

.footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: white
}